* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--main-bg-color: #ffffff; /* Used for header and cards */
	--secondary-bg-color: #3c93d2; /* Used for sidebar and buttons */
	--content-bg-color: #e1e7ef; /* Used for card container bg and searchbar bg */
	--card-accent-color: #e9af31; /* Used for highlight on edge of cards */
	--main-txt-color: #000000;
	--secondary-txt-color: #ffffff;
	--header-shadow-color: #cbd1da;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.container {
	display: grid;
	grid-template-columns: 2fr 8fr;
	grid-template-rows: 1fr 9fr;
	min-height: 100vh;
}

.header {
	background-color: var(--main-bg-color);
	grid-column: 2 / 5;
	grid-row: 1 / 2;
	color: var(--main-txt-color);
	position: relative;
	box-shadow: 1px 2px 5px var(--header-shadow-color);
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;
	padding: 15px 30px;
}

.searchbar {
	display: grid;
	grid-template-columns: 1fr 7fr;
}

.searchbar button {
	border: none;
	background-color: var(--main-bg-color);
}

#search {
	background-color: var(--content-bg-color);
	border: none;
	border-radius: 15px;
	width: 500px;
	height: 30px;
	padding: 15px;
}

.profile {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.profile a {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 3fr;
}

.welcome {
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.welcome img {
	margin: auto;
}

.upload {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.header {
	font-weight: 700;
}

.small {
	font-size: 0.75rem;
}

.upload button {
	background-color: var(--secondary-bg-color);
	color: var(--secondary-txt-color);
	font-weight: 700;
	border-radius: 15px;
	height: 30px;
	width: 75px;
	border: none;
	padding: 5px;
	margin: 0 5px;
}

button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.sidebar {
	background-color: var(--secondary-bg-color);
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	color: var(--secondary-txt-color);
	display: grid;
	grid-template-rows: 100px 250px 150px;
}

img {
	height: 20px;
	width: 20px;
}

.sidebar a {
	display: grid;
	grid-template-columns: 40px 150px;
	margin: 15px;
}

.sidebar img {
	grid-column: 1 / 2;
}

.sidebar p {
	grid-column: 2 / 3;
	margin: 0;
}

.dashboard {
	grid-row: 1 / 2;
}

.nav {
	grid-row: 2 / 3;
}

.help {
	grid-row: 3 / 4;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 700;
}

a:hover {
	text-decoration: underline;
}

.content {
	background-color: var(--content-bg-color);
	grid-column: 2 / 5;
	grid-row: 2 / 3;
	color: var(--main-txt-color);
	display: grid;
	grid-template-columns: 8fr 3fr;
}

.projects {
	grid-column: 1 / 2;
	padding: 15px;
}

.card-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 15px;
}

.project-card {
	background-color: var(--main-bg-color);
	border-radius: 10px;
	border-left: 10px solid var(--card-accent-color);
	padding: 20px;
	height: 250px;
	overflow: scroll;
	min-width: 200px;
	display: grid;
	grid-template-rows: 1fr 9fr 1fr;
}

.project-card p {
	font-weight: 500;
	margin-top: 5px;
}

.actions {
	margin-left: auto;
	min-width: 90px;
	margin-right: 10px;
}

.actions a {
	padding: 10px;
}

.col-right {
	display: grid;
	grid-template-rows: 425px 425px;
}

.announcements-container {
	grid-row: 1 / 2;
}

.announcements-container,
.trending-container {
	padding: 15px 0;
	margin: 0 10px;
}

.announcements,
.trending {
	background-color: var(--main-bg-color);
	height: 350px;
	width: 300px;
	border-radius: 5px;
	padding: 20px;
	margin-right: 20px;
	display: grid;
}

.announcement-card {
	border-bottom: 2px solid lightgrey;
	margin-top: 10px;
}

.announcement-card:nth-last-child(1) {
	border-bottom: none;
}

.trending-container {
	grid-row: 2 / 3;
}

.trending-card {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 0;
	align-self: center;
}

.trending-card > img {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	margin: auto;
}

.trending-card > div {
	margin: 0 10px;
	font-weight: 500;
	font-style: italic;
	line-height: 1.5rem;
}

.trending-card > div > span {
	font-weight: 700;
	font-style: normal;
}
